<!DOCTYPE html>
<html lang="en">
  <html>
    <head>
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1" />
      <link rel="stylesheet" type="text/css" href="../assets/styles/main.css" />
      <title>Bio</title>
    </head>

    <body>
      <h1>Diego Emiliano</h1>

      <a href="../index.html"> Redirect Back </a>

      <article>
        <p>Google:</p>
        <blockquote cite="https://google.com">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
          illum optio expedita doloremque neque ut praesentium perferendis et
          laboriosam, repudiandae voluptatibus alias labore quo numquam nobis
          sapiente repellat eius. Molestiae.
        </blockquote>
      </article>

      <img
        alt="Norra 2025"
        title="Imagen de la carrera Norra 1000 2025 en la 
		zona de la conquista agraria"
        src="../assets/img/test.JPG"
      />

      <br />

      <a href="../assets/img/test.JPG" download=" "> Descargar CV </a>

      <br />

      <pre>
						Lorem ipsum dolor sit amet consectetur, adipisicing elit. Minus atque error nemo nesciunt harum unde
		  	at nisi, accusantium 
				ut, cum quaerat! Dolor exercitationem accusantium illo excepturi molestias, porro laboriosam harum.
		<code>
									a + b = ?
									&lt; h1  &gt; &#128508; &#9824;
		</code>
	</pre>

      <div class="container">
        <div class="nav_grid">1</div>
        <div class="content_grid">2</div>
        <div class="sidebar_grid">3</div>
        <div class="four_grid">4</div>
        <div>5</div>
        <div>6</div>
        <div class="side_grid">7</div>
        <div class="footer_grid">8</div>
      </div>
    </body>
  </html>
</html>
