<!DOCTYPE html>
<html lang="en">

<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		Bio
	</title>


</head>

<body>
	<h1>
		Diego Emiliano
	</h1>


	<a href="../index.html">
		Redirect Back
	</a>

	<article>

		<p>
			Google:
		</p>
		<blockquote cite="https://google.com">
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas,
			illum optio expedita doloremque neque ut praesentium perferendis et laboriosam,
			repudiandae voluptatibus alias labore quo numquam nobis sapiente repellat eius. Molestiae.
		</blockquote>
	</article>





</body>

</html>