/*body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}*/

#ir_contacto {
  background-color: bisque;
}
h1 {
  background-color: greenyellow;
}

p {
  background-color: aquamarine;
}

.bg-dark {
  background-color: cadetblue;
}
p:hover {
  background-color: deeppink;
}

a:hover {
  background-color: darkolivegreen;
}

p strong {
  background-color: aliceblue;
}
p::first-letter {
  color: crimson;
  font-size: 50;
}
li:first-child {
  color: brown;
}
li:last-child {
  color: blueviolet;
}

/* Contacto */

@font-face {
  font-family: "Varsity Regular";
  src: url(../fonts/varsity_regular.ttf);
  font-style: normal;
  font-weight: normal;
}

.entrada {
  font-family: "Varsity Regular";
}

.parrafo {
  text-align: right;
}

.label_email {
  text-transform: uppercase;
}

.name {
  text-shadow: 2px 4px 2px blueviolet;
}

#label_email {
  font-weight: 600;
}

.label_generic {
  text-transform: uppercase;
}

.post {
  text-align: right;
}

.label_list {
  text-decoration: underline;
}

.title_4 {
  text-shadow: darkcyan;
}
