/*body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}*/

#ir_contacto {
  background-color: bisque;
}
h1 {
  background-color: greenyellow;
}

p {
  background-color: burlywood;
}

/*.bg-dark {
  background-color: cadetblue;
}*/

p:hover {
  background-color: chocolate;
}

a {
  display: block;
}

a:hover {
  background-color: darkolivegreen;
}

p strong {
  background-color: aliceblue;
}
p::first-letter {
  color: crimson;
  font-size: 50;
}
li:first-child {
  color: brown;
}
li:last-child {
  color: blueviolet;
}

/* Contacto */

@font-face {
  font-family: "Varsity Regular";
  src: url(../fonts/varsity_regular.ttf);
  font-style: normal;
  font-weight: normal;
}

.entrada {
  font-family: "Varsity Regular";
}

.parrafo {
  text-align: right;

  margin: 50px;
}

.label_email {
  text-transform: uppercase;
}

.name {
  text-shadow: 2px 4px 2px blueviolet;
}

#label_email {
  font-weight: 600;
}

.label_generic {
  text-transform: uppercase;
}

.post {
  text-align: right;
}

.label_list {
  text-decoration: underline;
}

.title_4 {
  text-shadow: darkcyan;
}

.apellido {
  width: 5px;
  border: 15px solid green;
  padding: 5px;
  margin: 5px;
}

.post {
  border: 20px;
  border-style: groove;
  border-color: grey;
  border-radius: 30px;
}

.title_3 {
  border: 20px;
  border-style: inset;
  border-color: cadetblue;
  border-radius: 25px;
}

td {
  background-color: beige;

  padding: 20px, 10px;
}

.margin {
  margin: 50px;
}

img {
  width: 50%;
}

#bg_image {
  background-image: url("../img/IMG_3623.JPG");
  background-image: url("../img/hipopotamo.png");
  background-position: center;
  background-size: 64px;
  /* background-repeat: no-repeat;*/
}
